h1 {
	text-align: center;
	font-size: 5vw;
	font-variant: small-caps;
}

p {
	margin-left: 10%;
	margin-right: 10%;
	font-size: 2.5vw;
}

@media only screen and (max-width: 400px) {
  .column {
    flex: 100%;
	padding: 5px;
  }
}

img {
	height: 100%;
	width: 100%;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 5px;
}