p {
	text-indent: 50px;
}
body {
	background-color: rgb(255, 251, 174);
	font-variant: small-caps;
	font-size: 20;
	margin-left: 400;
	margin-right: 400;
}
h1 {
	font-variant: small-caps;
	text-align: center;
	font-size: 60;
}
h2 {
	text-align: center;
	font-size: 40;
}
h3 {
	text-align: center;
}
div {
	height: 8;
	width: 1100;
	background-color: black;
}