* {
	box-sizing: border-box;
}
body {
	margin: 0 auto;
	background-color= blue;
}
.court {
	width: 1200px;
}
.halfcourt {
	width: 800px;
	float: left;
}
.sideline {
	width: 200px;
	height: 600px;
	background-color: green;
	border: 10px solid white;
	float: left;
}
.topline {
	width: 800px;
	height: 200px;
	background-color: green;
	border: 10px solid white;
	float: left;
}
.square {
	background-color: red;
	width: 400px;
	height: 400px;
	background-color: green;
	border: 10px solid white;
	float: left;
}
