body {
	margin: 0;
}
/* Position Options
Static - default
absolute - relation to window
relative - relative to where it falls on page
fixed - positions it and fixes at point
*/
div {
	width: 200px;
	height: 200px;
	background-color: black;
}
.relative {
	background-color:red;
	position: relative;
	top: 200px;
	left: 200px;
}
.relative2 {
	width: 400px;
	height: 300px;
	background-color:blue;
	position: relative;
	top: 400px;
	left: 400px;
}
.absolute {
	background-color: aquamarine;
	position: absolute;
	top: 4000px;
	left: 400px;
}
.absolute2 {
	width: 100px;
	height: 100px;
	background-color: yellow;
	position: absolute;
	top: 0;
	left: 0;
}
.fixed {
	background-color: firebrick;
	position: fixed;
	top: 200px;
	left: 200px;
}
.container {
  width: 0;
  height: 0;
  background-color: none;
  position: relative;
  top: 90px;
  left: 600px;
}
.left-circle, .right-circle, .heart {
  background-color: #ff0066;
  position: absolute;
  width: 200px;
  height: 200px;
}
.left-circle {
  border-radius: 100%;
  top: 251px;
  left: 230px;
}
.right-circle {
  border-radius: 100%;
  top: 251px;
  left: 370px;
}
.heart {
  transform: rotate(45deg);
  top: 321px;
  left: 300px;
}
.heartcrack1 {
	width: 10px;
	background-color: black;
}